@model site1.Models.EnCokSatılanlar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnCokSatılanlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EncokSatılanKitapAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncokSatılanKitapAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncokSatılanKitapResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncokSatılanKitapResim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
